/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

header {
  background-color: #d7a1fd;
}

nav {
  background-color: #000000;
  color: #ffffff;
}

.quote {
  background-color: #98fb00;
}

.news {
  background-color: #f4ede8;
}

.opportunities {
  background-color: #d7a1fd;
}

.proposal {
  background-color: #98fb00;
}

footer {
  background-color: #000000;
  color: #ffffff;
}
