/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  max-width: 428px;
  margin: auto;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

h1 {
  text-align: center;
  color: #000;
  font-family: Nunito Sans;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  text-transform: uppercase;
  padding: 20px;
  padding-bottom: 0;
}

h1 samp {
  color: #000;
  font-family: Noto Serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: 50px;
  text-transform: uppercase;
}

header {
  background-color: #d7a1fd;
}

header p {
  color: #fff;
  text-align: center;
  font-family: Noto Serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  padding: 20px;
  padding-top: 10px;
}

nav {
  background-color: #000000;
  color: #ffffff;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 41px;
  padding-left: 42px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav a {
  color: #fff;
  font-family: Noto Serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px; /* 122.222% */
  text-transform: uppercase;
}

h2 {
  color: #000;
  text-align: center;
  font-family: Noto Serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: 50px;
  text-transform: uppercase;
  padding-top: 60px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.dates {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.artist {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.artist img {
  width: 189px;
  height: 125.837px;
  flex-shrink: 0;
}

.artist p {
  color: #000;
  text-align: center;
  font-family: Noto Serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 15px;
  padding-top: 20px;
}

.artist h3 {
  color: #000;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px; /* 133.333% */
  text-transform: uppercase;
  padding-top: 20px;
}

.quote {
  background-color: #98fb00;
}

.news {
  background-color: #f4ede8;
}

.opportunities {
  background-color: #d7a1fd;
}

.proposal {
  background-color: #98fb00;
}

footer {
  background-color: #000000;
  color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
}
